.containerfluid{
    background-color: #D8E7D8;
    color: #32325C;
    height: 41rem;
}
.containerfluid .h1{
    font-size: 4rem;
}
.containerfluid .button{
        border-radius: 30px;
        background-color: #41E096;
        border: none;
        font-weight: bolder;
    
}
@media (max-width: 991px) {
    .containerfluid h1,h2{
       text-align: center;
      
    }
    .containerfluid .button{
        display: block;
        margin:0 auto;
    }
}